<div class="card">
    <CDBFooter class="shadow">
    <div class="d-flex flex-column mx-auto py-5" style="width:80%">
        <div class="d-flex justify-content-between">
            <div class="align-self-center">
                <CDBLink class="d-flex align-items-center p-0 text-dark">
                </CDBLink>
            </div>
            <div class="row1">
                <h1 class="h5 mb-4" style="font-weight:600; color:aliceblue">About Us</h1>
                <ul style="list-style:none; cursor:pointer">
                    <li class="my-2"><a style="font-size:medium;color:aliceblue" class="text-dark" href="/">Resources</a></li><br/>
                    <li class="my-2"><a style="font-size:medium;color:aliceblue" class="text-dark" href="/">About Us</a></li><br/>
                    <li class="my-2"><a style="font-size:medium;color:aliceblue" class="text-dark" href="/">Contact</a></li><br/>
                    <li class="my-2"><a style="font-size:medium;color:aliceblue" class="text-dark" href="/">Blog</a></li>
                </ul>
            </div>
            <div class="row2">
                <h1 class="h5 mb-4" style="font-weight:600; color:aliceblue;">Help</h1>
                <ul style="list-style:none; cursor:pointer">
                    <li class="my-2"><a style="font-size:medium; color:aliceblue" class="text-dark" href="/">Support</a></li>
                    <br/>
                    <li class="my-2"><a style="font-size:medium;color:aliceblue" class="text-dark" href="/">Sign Up</a></li><br/>
                    <li class="my-2"><a style="font-size:medium;color:aliceblue" class="text-dark" href="/">Sign In</a></li><br/>
                </ul>
            </div>
        </div>
        
        <div class="row3">
            
                <h1 class="h5 mb-4" style="font-weight:600; padding-top: -240px;color:aliceblue">Social Media</h1>
                    
                <a class="btn btn-primary" style="font-size: 27px;color:#3460b8; background-color: white; padding: 12px;" href="https://www.facebook.com/" role="button"><i class="fab fa-facebook-f"></i></a> &nbsp;&nbsp;
                <!-- Twitter -->
                <a class="btn btn-primary" style="font-size: 27px; color: #55acee; background-color: white; padding: 12px;" href="https://twitter.com/" role="button"><i class="fab fa-twitter"></i></a> &nbsp;&nbsp;
                <!-- Instagram -->
                <a class="btn btn-primary" style="font-size: 27px;color:white; background-color: #ac2b2b; padding: 12px;" href="https://instagram.com/" role="button"><i class="fab fa-instagram"></i></a> &nbsp;&nbsp;
                <!-- Linkedin -->
                <a class="btn btn-primary" style="font-size: 27px;color:white; background-color: #0082ca; padding: 12px;" href="https://www.linkedin.com/" role="button"><i class="fab fa-linkedin-in"></i></a> &nbsp;&nbsp;
                <!-- Youtube -->
                <a class="btn btn-primary" style="font-size: 27px;color: #ed302f; background-color: white; padding: 12px;" href="https://www.youtube.com/" role="button"><i class="fab fa-youtube"></i></a> &nbsp;&nbsp;

                    <CDBIcon [fab]=true icon="facebook-f" ></CDBIcon>
                
</div>